<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div>
      Connected: <span data-bind="text:connected"></span><br />
      Card: <span data-bind="text:currentCard"></span>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
    <script type="text/javascript" charset="utf-8">
        console.log("Connecting to socket.io:", 'http://' + document.domain + ':' + location.port)
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var vm = {
          connected: ko.observable(false),
          currentCard: ko.observable("init")
        };

        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
            vm.connected(true);
        });

        socket.on('setCard', function(msg) {
          console.log("SetCard Message:", msg);
          vm.currentCard(msg);
        });

        ko.applyBindings(vm);
    </script>
  </body>
</html>
